.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  color: white;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

.footer {
  text-align: center;
}

.main-row {
  height: 100%;
  overflow: auto;
}

.gutter-row {
  justify-content: center;
}

.search-container, .show-list {
  min-width: 50%;
}

.search-container {
  transition: all;
  transition-duration: 2s;
  transition-timing-function: ease-in;
}

.show-list {
  margin-top: 5%;
  margin-bottom: 5%;
}
