<!-- NG-ZORRO -->
<div class="main">
  <nz-layout>
    <nz-header class="header">EAD 1</nz-header>
    <nz-content class="content center-flex">
      <div nz-row nzAlign="middle" nzJustify="center" class="main-row" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" [nzSpan]="15">
          <h1 nz-typography>Show searcher</h1>
          <app-search class="search"></app-search>
          <div class="show-list" *ngIf="showList">
            <app-show-list></app-show-list>
          </div>
        </div>
      </div>
    </nz-content>
    <nz-footer class="footer">Gabriel Vander - TC2 - 12/11/2020</nz-footer>
  </nz-layout>
</div>
